$menu-links-width: 251px;
$menu-links-height: 174px;

.menu {

  @include text-style-menu();

  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 100vh;
  color: $menu-color;
  background: $menu-background;
  transition: height 500ms ease;

  &[data-menu-fullscreen="true"],
  &[data-menu-showing="false"] {
    .back-button {
      opacity: 0;
    }
    .menu-link[data-active="true"] {
      opacity: 0;
    }
  }

  button {
    opacity: 0;
    height: 2rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
    transition: left $duration ease;
    @media (min-width: $breakpoint-sm) {
      left: 2rem;
    }
  }

  svg {
    height: auto;
    width: 2rem;
    fill: $white;
    transition: opacity $duration ease, fill $duration ease;
  }

  .back-button {
    opacity: 1;
    &:focus {
      outline: none;
    }
    transition: opacity 500ms ease;
  }

  // Menu links are stacked and centered
  .menu-links {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-left: calc(50% - 125px);
    margin-top: calc(50vh - 97px);
    transition: margin $duration ease;
  }

  .menu-link {
    position: absolute;
    padding: 0.25rem 0;
    // font-weight: 200;

    &:nth-child(1) {
      margin-top: 0rem;
    }
    &:nth-child(2) {
      margin-top: 4rem;
    }
    &:nth-child(3) {
      margin-top: 8rem;
    }

    color: $menu-color;
    text-decoration: none;
    font-weight: 400;
    font-size: 3rem;
    opacity: 1;
    display: block;
    transition: color 500ms ease, opacity 500ms ease, font-size 500ms ease, margin-top 500ms ease;
  }

  // menu "compact" mode
  &[data-menu-fullscreen="false"] {
    // Compact height
    height: 6rem;
    // Links move to top-left corner
    .menu-links {
      margin-left: 4rem;
      @media (min-width: $breakpoint-sm) {
        margin-left: 5.5rem;
      }
      margin-top: 1rem;
    }
    // Non-active links are hidden
    .menu-link:not([data-active="true"]) {
      opacity: 0;
      pointer-events: none;
    }
    .menu-link {
      margin-top: 0.75rem;
      font-size: 1.5rem;
    }
  }

  // Update the circle background color based on
  // last-hovered link
  &[data-last-hovered="about"] {
    .circle { background: $about-background; }
  }
  &[data-last-hovered="designs"] {
    .circle { background: $designs-background; }
  }
  &[data-last-hovered="things"] {
    .circle { background: $things-background; }
  }


  // If currently hovering over the menu...
  &[data-circle-fullscreen="true"] {
    &[data-last-hovered="about"] {
      .menu-link { color: $designs-background; }
      .menu-link[data-active="true"] {
        color: $black;
        font-weight: 600;
      }
      .menu-link:not(#about) {
        opacity: 0;
      }
    }
    &[data-last-hovered="designs"] {
      .menu-link { color: $about-background; }
      .menu-link[data-active="true"] {
        color: $black;
        font-weight: 600;
      }
      svg { fill: $black; }
      .menu-link:not(#designs) {
        opacity: 0;
      }
    }
    &[data-last-hovered="things"] {
      .menu-link { color: $designs-background; }
      .menu-link[data-active="true"] {
        color: $black;
        font-weight: 600;
      }
      .menu-link:not(#things) {
        opacity: 0;
      }
    }
  }

  &[data-menu-fullscreen="false"] {
    &[data-last-hovered="about"] {
      svg { fill: $black; }
      .circle { background: $white; }
      .menu-link { color: $black; }
    }
    &[data-last-hovered="designs"],
    &[data-last-hovered="about"] {
      background: transparent;
      .circle { background: transparent; }
    }
  }

  &[data-circle-fullscreen="false"] {
    .smiley-icon {
      opacity: 0;
    }
  }

  .circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;
    position: absolute;
    right: 100%;
    z-index: -1;
    transform: scale(1);
    will-change: transform;
    transition: background $duration ease, transform $duration*1.25 ease;
  }

  &[data-circle-fullscreen="true"] {
    .circle {
      transform: scale(50);
    }
  }

  .smiley-icon {
    opacity: 1;
    svg {
      width: 5rem;
      transform: rotate(15deg);
    }
    position: absolute;
    top: 0.65rem;
    left: 50%;
    pointer-events: none;
  }

}