.ProjectRow {
  max-width: $breakpoint-xl;
  margin: 1rem auto;
  padding: 0 $pad-md;

  &.full {
    max-width: 100%;
  }

  @include smaller-than(md) {
    padding: 0 $pad-sm;
  }
}

.project-row-heading {
  @include text-style-heading;

  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.grid {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include larger-than(md) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &.two {
      grid-template-columns: 1fr 1fr;
    }

    &.three {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.copy {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  h1,
  h2,
  h3 {
    @include text-style-project-heading;
  }
}
