.ProjectIntro {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: $pad-lg $pad-md;

  > * {
    max-width: 500px;
  }

  h1 {
    @include text-style-heading;

    font-size: 1.25rem;
    margin: 0;
  }

  h3 {
    font-weight: 200;
    margin-top: 0.25rem;
  }

  p {
    margin-bottom: 0;
  }

  @include smaller-than(md) {
    padding: $pad-md;
  }

  @include smaller-than(sm) {
    padding: $pad-sm;
  }
}
