.layout[data-page="about"] {
  .columns {
    max-width: 800px;
    margin: 0 auto;
  }

  .column-2 {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// #about-page {
//   padding-top: 3rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
//   width: 85%;
//   max-width: 768px;
//   min-height: 100vh;

//   p {
//     font-size: 1.1rem;
//   }

//   h1 {
//     font-weight: 300;
//   }

//   @include smaller-than(sm) {
//     padding-top: 6rem;
//   }

//   a {
//     color: $link-color;
//     text-decoration: none;
//     font-weight: 400;
//     transition: color ($duration / 3) ease;

//     &:hover {
//       color: $link-color-hover;
//     }
//   }
// }

// .about-layout {
//   @include larger-than(sm) {
//     display: flex;
//     align-items: center;

//     .left {
//       flex: 1;
//       margin-right: 2rem;
//     }

//     .right {
//       flex: 1;
//     }
//   }
// }
