.things-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  max-width: 100%;

  img {
    max-height: 80vh;
    max-width: 100%;
    width: auto;
  }
}
