@font-face {
    font-family: 'GT America Mono';
    src: url('../assets/fonts/GTAmericaMono-Light.woff2') format('woff2'),
        url('../assets/fonts/GTAmericaMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../assets/fonts/GTAmerica-Light.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../assets/fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Expanded';
    src: url('../assets/fonts/GTAmerica-ExpandedRegular.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Expanded';
    src: url('../assets/fonts/GTAmerica-ExpandedLight.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExpandedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('../assets/fonts/GTAmerica-ExtendedBold.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Mono';
    src: url('../assets/fonts/GTAmericaMono-Bold.woff2') format('woff2'),
        url('../assets/fonts/GTAmericaMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Expanded';
    src: url('../assets/fonts/GTAmerica-ExpandedMedium.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExpandedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('../assets/fonts/GTAmerica-ExtendedRegular.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExtendedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Mono';
    src: url('../assets/fonts/GTAmericaMono-Medium.woff2') format('woff2'),
        url('../assets/fonts/GTAmericaMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Expanded';
    src: url('../assets/fonts/GTAmerica-ExpandedBold.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../assets/fonts/GTAmerica-Medium.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('../assets/fonts/GTAmerica-ExtendedLight.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExtendedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../assets/fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('../assets/fonts/GTAmerica-ExtendedMedium.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-ExtendedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../assets/fonts/GTAmerica-Thin.woff2') format('woff2'),
        url('../assets/fonts/GTAmerica-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Mono';
    src: url('../assets/fonts/GTAmericaMono-Regular.woff2') format('woff2'),
        url('../assets/fonts/GTAmericaMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

