$duration: 500ms;
$nav-height: 100px;
$background: black;
$links-width: 220px;
$links-height: 190px;

$scale-factor: 40;

$white: #fefefe;
$black: #050505;
$red: #f91b26;
$tan: #e2dccf;
$blue: #24a0ef;
$gray: #555555;

$menu-background: $black;
$menu-color: $white;

$about-background: $red;
$portfolio-background: $white;
$other-background: $blue;