@import "fonts";
@import "variables";
@import "menu";
@import "portfolio";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'GT America Expanded';
  font-weight: bold;
  padding: 0;
  background: white;

  &.no-scroll {
    overflow-y: hidden;
  }
}

// Button resets
button {
  color: inherit;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: $black;
}

.grid {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    &.two {
      grid-template-columns: 1fr 1fr;
    }
    &.three {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page-container {
  font-family: "GT America";
  font-weight: 200;
  font-size: 1.1rem;
  width: 85%;
  max-width: 768px;
  margin: 2rem auto;
  h1 { font-weight: 300; }
  a {
    color: $blue;
    text-decoration: none;
    font-weight: 400;
    transition: color $duration/3 ease;
    &:hover {
      color: rgba($blue, 0.75);
    }
  }

  @media (min-width: $breakpoint-sm) {
    margin-top: calc(30vh - 109px);
  }
}

.about-layout {
  @media (min-width: $breakpoint-sm) {
    display: flex;
    align-items: center;
    .left {
      flex: 1;
      margin-right: 2rem;
    }
    .right {
      flex: 1;
    }
  }
}

.other-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  max-width: 100%;
  img {
    max-height: 80vh;
    max-width: 100%;
    width: auto;
  }
}