@import "shared/fonts";
@import "shared/variables";
@import "shared/mixins";
@import "shared/typography";

@import "components/menu";

@import "pages/about";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include text-style(thin);

  margin: 0;
  padding: 0;
  background: white;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.layout {
  width: 100%;
  height: 100vh;
  
  background-color: $white;
  transition: background-color 500ms ease;
  &[data-page="/"] { background-color: $tan; }
}

.spacer {
  position: relative;
  display: block;
  width: 100%;
  height: ($menu-compact-link-height * 3);
  pointer-events: none;
  z-index: $layer-3;
  visibility: hidden;
}

.content {
  z-index: $layer-3;
  width: 100%;
  height: 100vh;
  margin-top: -94px; /* minus the height of the menu? */
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 $gutter-size;
  margin: 0 auto;
}

@mixin animated-underline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    width: 0px;
    height: 2px;
    opacity: 0.5;
    margin: 0.1em auto;
    border-bottom: 1px solid black;
    transition: opacity 350ms ease,
                background 350ms ease,
                width 350ms ease;
  }
  
  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

a {
  color: $link-color;
  font-weight: 400;
  // text-decoration: none;
  // @include animated-underline;
}

// // Button resets
// button {
//   color: inherit;
//   -webkit-appearance: none;
//   -webkit-rtl-ordering: logical;
//   background: none;
//   border: none;
//   cursor: pointer;
// }

// a {
//   color: $link-color;
//   font-weight: 400;

//   &:hover {
//     color: $link-color-hover;
//   }
// }

// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// .page-container {
//   @include larger-than(sm) {
//     &:not(#about-page) {
//       margin-top: calc(30vh - 109px);
//     }
//   }
// }

// .fades-in {
//   opacity: 0;
// }

// .icon-link {
//   svg {
//     display: inline-block;
//     vertical-align: middle;
//     width: 1em;
//     margin-left: 0.35em;
//     padding-bottom: 0.1em;
//   }

//   &.icon-right svg {
//     margin-left: 0.5em;
//     margin-right: 0;
//   }

//   &.icon-left svg {
//     margin-right: 0.5em;
//     margin-left: 0;
//   }
// }
